# Statistics Methods

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [5]:
df['Marks'].max()

np.float64(61.0)

In [6]:
df['Marks'].min()

np.float64(4.0)

In [7]:
df['Marks'].describe()

count    10.000000
mean     33.400000
std      18.673808
min       4.000000
25%      21.000000
50%      36.500000
75%      46.500000
max      61.000000
Name: Marks, dtype: float64

In [8]:
df['Marks'].mean()

np.float64(33.4)

In [9]:
df.count()

Study_Hours    10
Marks          10
dtype: int64

In [10]:
df.sum()

Study_Hours     36.1
Marks          334.0
dtype: float64

In [11]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

In [12]:
df.corr()

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [13]:
df.skew()

Study_Hours   -0.252158
Marks         -0.325708
dtype: float64

In [14]:
df.kurt()

Study_Hours   -1.380748
Marks         -0.898525
dtype: float64

In [15]:
df.value_counts()

Study_Hours  Marks
1.3          4.0      1
1.8          8.0      1
             19.0     1
2.9          27.0     1
4.0          35.0     1
             38.0     1
4.5          47.0     1
4.7          45.0     1
5.3          50.0     1
5.8          61.0     1
Name: count, dtype: int64

In [16]:
df["Study_Hours"].nunique()

8

In [17]:
df['Study_Hours'].median()

np.float64(4.0)

In [18]:
df["Marks"].value_counts()

Marks
27.0    1
61.0    1
45.0    1
38.0    1
19.0    1
8.0     1
4.0     1
50.0    1
35.0    1
47.0    1
Name: count, dtype: int64

In [19]:
df[df.Study_Hours == df.Study_Hours.max()]

   Study_Hours  Marks
1          5.8   61.0

In [22]:
df.Study_Hours[df.Marks == df.Marks.max()]

1    5.8
Name: Study_Hours, dtype: float64

In [23]:
df.Study_Hours[df.Marks == df.Marks.min()]

6    1.3
Name: Study_Hours, dtype: float64